@import url("../node_modules/bootstrap/scss/bootstrap.scss");


.rating {
    span {
        margin: 0.1rem;
    }

    svg {
        color: "#f8e825"
    }

    .rating-text {
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 0.5rem
    }
}


.product-title{
    height:2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a{
    text-decoration: none;
    color: black;
}


.carousel-caption{
    position:absolute;
    width: 100%;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}


/* Paginate.css */
.custom-pagination .page-link {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border: 1px solid var(--bs-secondary);
}

.custom-pagination .page-item.active .page-link {
  color: white !important;
  background-color: #222 !important;  /* Slightly different for active */
  border-color: #666 !important;
}

.custom-pagination .page-link:hover {
  background-color: #1a1a1a;
  color: white;
}
